.all-benefits {
  padding-top: 80px;
  background-color: #fff;

  &__title {
    @include font(40px, 48px);
    color: $text-main;
    margin: 0 0 56px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @include font(16px, 24px);
    color: $text-main;
    position: relative;
    width: calc((100% - 50px) / 2);
    padding: 0 20px 0 50px;
    margin: 0 0 60px;



    & span:first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background-image: url("../img/check-round.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
