.catalog {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: #F4F4F8;

  &__container {
    padding-right: 71px;
  }

  &__title {
    @include font(48px, 56px);
    color: $text-main;
    max-width: 800px;
    margin: 0 auto 40px;
    text-align: center;
  }

  &__filters {
    margin-bottom: 64px;
  }

  &__filters-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__filters-item {
    &:not(:last-child) {
      margin-right: 64px;
    }
  }

  &__filters-label {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &--all {
      padding-left: 17px;
      padding-right: 17px;
    }

    // &--daichi {
    //   display: block;
    //   width: 91px;
    //   height: 40px;
    //   background-image: url("../img/daichi-grey.svg");

    //   &:hover {
    //     background-image: url("../img/daichi-color.svg");
    //   }
    // }

    // &--daikin {
    //   display: block;
    //   width: 109px;
    //   height: 40px;
    //   background-image: url("../img/daikin-grey.svg");
    // }

    // &--bosch {
    //   display: block;
    //   width: 103px;
    //   height: 40px;
    //   background-image: url("../img/bosch-grey.svg");
    // }

    // &--midea {
    //   display: block;
    //   width: 104px;
    //   height: 64px;
    //   background-image: url("../img/midea-grey.svg");
    // }
  }

  &__filter-icon-grey {
    opacity: 1;
    transition: opacity 0.3s;
  }

  &__filter-icon-color {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &__filters-radio:checked + .catalog__filters-label
  .catalog__filter-icon-grey {
    opacity: 0;
  }

  &__filters-radio:checked + .catalog__filters-label
  .catalog__filter-icon-color {
    opacity: 1;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    width: 400px;
    margin-bottom: 24px;
    min-height: 365px;

    &.hidden {
      display: none;
    }

    margin-right: 24px;
  }
}
