.cloud-advantages {
  margin-bottom: 91px;

  &__container {
    padding-bottom: 124px;
    border-bottom: 1px solid #dddddd;
  }

  &__diagnostics {
    min-height: 320px;
    padding: 10px 58% 0 0;
    background-image: url("../img/diagnostics.svg");
    background-repeat: no-repeat;
    background-position: top right 96px;
    margin: 0 0 147px;
  }

  &__title {
    @include font(32px, 36px);
    color: $text-main;
    max-width: 616px;
    margin: 0 0 40px;
  }

  &__desc {
    @include font(16px, 24px);
    margin: 0;
  }

  &__comfort-payment {
    min-height: 226px;
    padding: 10px 0 0 58%;
    background-image: url("../img/comfort-payment.svg");
    background-repeat: no-repeat;
    background-position: top left 78px;
  }
}
